*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    overflow: hidden;
}

.hero{
    width: 100%;
    height: 100vh;
    
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav .logo{
    width: 150px;

}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}
nav ul li a:hover{
    color: rgb(8, 109, 8);
}

.Search{
    width: 500px;
    height: 50px;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
}
.Search > i {
    font-size: 20px;
    color: #777;
}
.Search > input{
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}